:root {
    --primary: #3734A9;
    --secondary: #00E1F0;
    --Accent: #FF7F5C;
    --Tone:#FDBC64;
}

/* This is for manrop font */
.manrope {
    font-family: 'Manrope', sans-serif;
}

.manrope-normal {
    font-weight: 400;
}

.manrope-medium {
    font-weight: 500;
}

.manrope-semibold {
    font-weight: 600;
}

.manrope-bold {
    font-weight: 700;
}

.manrope-extrabold {
    font-weight: 800;
}

/* This is for roboto font */
.roboto {
    font-family: 'Roboto', sans-serif;
}

.roboto-normal {
    font-weight: 400;
}

.roboto-medium {
    font-weight: 500;
}

.roboto-bold {
    font-weight: 700;
}

.roboto-extrabold {
    font-weight: 800;
}

/* Note: Roboto doesn't officially have 800, but browser will simulate it */

* {
    margin: 0;
    padding: 0;

}


.defaultMargin {
    margin: 0 126px;
}

header {
    margin: 0 0 !important;
    font-family: 'manrop', sans-serif, roboto;
    background-image: url('images/Rectangle\ 158.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 640px;

}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 57px;
    padding: 20px 0 0px 0;

}

ul {
    display: flex;
    list-style: none;
    max-width: 320px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.StartFree {
    background-color: var(--primary);
    padding: 20 24px;
    width: 137px;
    height: 52px;
    text-align: center;
    color: white;
    border: none;
}

.sign-in {
    background-color: transparent;
    border: none;
    padding-right: 30px;
}

.content {
    display: flex;
}

.leftContent {
    height: 350px;
    width: 521px;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.bigTxt {
    line-height: 50px;
    /* word-spacing: 3%; */
    font-size: 45px;
}

.rightContent {
    width: 500px;
    height: 563px;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
}

.handImg {
    width: 300px;
    height: 580px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1000;
}

.dotsGroup {
    position: absolute;
    position: absolute;
    top: 490px;
    left: -15px;
    width: 100px;
}

.buttons {
    display: flex;
    gap: 50px;
}

.GetStarted {
    background-color: var(--primary);
    height: 60px;
    width: 160px;
    border-radius: 45px;
    color: white;
    border: none;

}

.anotherBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: var(--primary);
}

.RegisterService {
    display: flex;
    align-items: center;
    gap: 30px;
}

.firstTik {
    display: flex;
    gap: 7px;
}

.secondTik {
    display: flex;
    gap: 7px;
}

.birdsGroup {
    position: absolute;
    top: 100px;
    left: 1200px;
    width: 100px;
}

.randomDesign {
    position: absolute;
    background-size: cover;
    right: 0;
    bottom: -61px;
    overflow: hidden;
    height: 145px;
}

.brandImg {
    width: 130px;
    height: 25px;
}

.brandLogoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5F6F8;
    z-index: 1002;
    padding: 64px;
    gap: 36px;
}

.text {
    font-size: 22px;
}

.logoGroup {
    display: flex;
    gap: 15px;
}

.SectionHeading {
    height: 210px;
    margin-top: 72px;
    display: flex;
    gap: 124px;
}

.Automated {
    font-size: 55px;
    line-height: 53px;
    letter-spacing: -3%;

}

.group313 {
    width: 440px;
    display: flex;
    flex-direction: column;
    gap: 19px;


}

.lowerTxt {
    font-size: 16px;
    font-weight: 500;
}

.Testimonial {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 160px;
    background-color: #C4C4C4;
    border-radius: 15px;
    padding: 38px;
    gap: 18px;
    position: relative;
    justify-content: center;
}

.Wise {
    /* padding-top: -500px; */
    line-height: 22px;
    letter-spacing: -2%;
}

.Group311 {
    position: relative;
    width: 44px;
    height: 44px;
    top: -20px;
    left: 200px;
    z-index: 1;
}

.valueProps {
    margin-top: 72px;
    display: flex;
    gap: 31px;
}

.group310 {
    display: flex;
    flex-direction: column;
    height: 280px;
    width: 310px;
    align-items: center;
    justify-content: center;
    border: 2px solid #DBE4E9;
    border-radius: 15px;
    gap: 17px;
    padding: 30px;
    position: relative;

}

.FileImg {
    width: 50px;
    height: 45px;
}

.connect {
    line-height: 34px;
    letter-spacing: -3%;
    font-size: 30px;
    text-align: center;
}

.indulgence {
    line-height: 26px;
    letter-spacing: -2%;
    color: #757095;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    width: 260px;
}

.headnumber {
    position: absolute;
    font-size: 22px;
    top: 21px;
    left: 22px;
}

.sectionsContents {
    margin-top: 120px;
}

.group4362 {
    background-image: url('images/Group\ 4362.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 550px;
    height: 400px;
    margin-left: -22px;
    padding: 0;

}

.sectionsContents {
    display: flex;
}

.Content {
    display: flex;
    flex-direction: column;
    gap: 7px;
    height: 300px;
    width: 550px;
}



.group237,
.group238,
.group152 {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: #64607D;
    gap: 10px;
}

.TikTxt {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.why {
    color: var(--primary);
    font-weight: 700;
    font-size: 14px;
}

.track {
    line-height: 40px;
    letter-spacing: -3%;
    font-weight: 800;
    font-size: 40px;
}

.indulgence1 {
    line-height: 26px;
    letter-spacing: -2%;
    color: #757095;
    font-weight: 500;
    font-size: 14px;
    /* text-align: center; */
    width: 360px;
}

.Content3 {
    display: flex;
    flex-direction: column;
    width: 440px;

}

.wise2 {
    width: 350px;
    padding: 20px;
    background-color: #C4C4C4;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    position: relative;
    margin-top: 20px;

}

.Group3111 {
    position: absolute;
    top: -23px;
    height: 35x;
}

.leftImage {
    background-image: url('images/leftImage.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 550px;
    height: 600px;
    margin-top: -100px;
}

.sectionContents2 {
    display: flex;
}

.features {
    background-color: #C9E7F2;
    width: 100%;
    height: 650px;
    position: relative;
}


.featureTxt {
    font-weight: 800;
    font-size: 50px;
    margin-top: 90px;

}

.opinion {
    width: 80%;
    font-weight: 500;
    font-size: 16px;
}

.group117 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.group311 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.box1,
.box2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 250px;
    width: 300px;
    background-color: white;
    padding: 40px 0 0 20px;
    border-radius: 10px;
}

.really {
    font-size: 22px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: -3%;
}


.ThreeBox {
    display: flex;
    gap: 20px;
}

.box3 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* height: 500px; */
    width: 300px;
    /* padding: 40px 0 0 20px; */
    border-radius: 8px;
}

.subBox1,
.subBox2 {
    background-color: white;
    font-weight: 800;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -3%;
    padding: 35px 30px;
    border-radius: 8px;
}

.testimonials2 {
    margin: 95px 10px;
}

.testimonialsText {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 600px;
}

.biggerTxt {
    line-height: 50px;
    font-size: 50px;
    font-weight: 800;
}

.smallTxt {
    line-height: 29px;
    font-weight: 500;
}

.textAndLogo {
    display: flex;
    gap: 270px;
}

.leftBox,
.rightbox {
    display: flex;
    /* width: 100px */
    border: 1px solid #CFCFCF;
    border-radius: 7px;
    padding: 20px;
    width: fit-content;
    position: relative;
    margin-top: 50px;

}

.textpart {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px 10px;
    gap: 20px;
    justify-content: center;
}

.imagepart {
    height: 250px;
    width: 170px;
}

.wise {
    font-weight: 600;
    line-height: 25px;
    font-size: 20px;
}

.mike {}

.group3211 {
    position: absolute;
    top: -25px;
}

.textAndImg {
    display: flex;
    justify-content: space-around;
}

.stats {
    display: flex;
    background-color: var(--primary);
    height: 170px;
    width: 100%;
    color: white;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.stats2,
.stats3,
.stats4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.k30,
.m1,
.m252 {
    font-weight: 800;
    font-size: 50px;
}

.activeUser,
.starReview,
.transactions {
    /* text-align: center; */
    font-size: 20px;
    font-weight: 400;
    width: 170px;
}

.stats1 {
    /* text-align: center; */
    font-size: 20px;
    font-weight: 400;
    width: 150px;
}

.logo44 {
    position: absolute;
    right: 0px;
}

.BlogsTxt
{
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
}

.bestTxtImg
{
    display: flex;
    gap: 150px;
}

.bestTxt
{
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 20px;
    justify-content: center;
    /* gap: 4rem; */
}

.practice
{
    font-weight: 700;
}

.InDesign
{
    font-weight: 700;
    font-size: 29px;
    line-height: 30px;
    margin-bottom: 50px;
}

.bestImg
{
    height: 220px;
    width: 390px;
    background-image: url("images/Rectangle 155.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.BlogCards
{
    display: flex;
    margin: 20px;
    justify-content: space-between;
}

.partiality
{
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
}

.partialityTxt
{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    width: 250px;
    margin-bottom: 40px;
}

.img1
{
   height: 170px;
    width: 315px; 
    margin-left: -10px;
}

.faqTxt
{
    font-weight: 900;
    font-size: 50px;
    line-height: 50px;
    width: 420px;
    margin-bottom: 45px;
    margin-top: 70px;
}

.group337
{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.group332
{
    border: 1px solid #CFCFCF;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.txtAndPlus
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boldTxt
{
    font-weight: 700;
}

.group333, .group334, .group335, .group336
{
    border: 1px solid #CFCFCF;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.boldTxt
{
       font-weight: 700;
       font-size: 20px;
}

.plus
{
    font-size: 35px;
}

.twogroup
{
    display: flex;
    gap: 30px;
}

.group351
{
    width: 35%;
    border: 1px solid #CFCFCF;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.vector355
{
    height: 70px;
    margin:25px 0 20px 0;
}

.semiboldTxt
{
    font-weight: 600;
    text-align: center;
}

.DirectMailBtn
{
    background-color: var(--Accent);
    border: none;
    color: white;
    height: 60px;
    position: relative;
    top: 40px;
}

.forlogo
{
    position: relative;
}

.logo21
{
    position: absolute;
    top: 0px;
    right: 0px;
}
.logo69
{
    position: absolute;
    left: 0px;
    top: 40px;
}

.cta{
    width: 80%;
    height: 280px;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    border-radius: 15px;
    margin-top:100px;
    position: relative;
}

.discover
{
    font-weight: 900;
    color: white;
    font-size: 40px;
    line-height:45px;
    width: 60%;
    text-align: center;
}

.getStarted
{
    height: 50px;
    width: 150px;
    background-color: var(--Accent);
    border: none;
    color: white;
    border-radius: 8px;
}

.group268
{
    position: absolute;
    top: 40px;
    right: 80px;
}
.group269
{
    position: absolute;
    bottom: 70px;
    left: 180px;
}
.group277
{
    position: absolute;
    bottom: 40px;
    left: 80px;
}
.group278
{
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.Vector
{
    position: absolute;
    top: 40px;
    left: 220px;
    height: 90px;
}

.footer
{
    margin-top: 100px;
    margin-bottom: 100px;
}

.group172
{
    display: flex;
    /* height: 300px; */
    gap: 40px;
    align-items: center;
   
}

.arshakir
{
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 20px;
}

.headTxt
{
    font-weight: bold;
    font-size: 18px;
}

ul
{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.Newsletter
{
    width: 350px;
}

.input_btn
{
    width: 100%;
    background-color: #EEEEFF;
}

.emailInput
{
    border: none;
    height: 50px;
    width: 70%;
    background-color: #EEEEFF;
}

.subscribe
{
    height: 50px;
    margin: 0;
    border: none;
    width: 100px;
    background-color: var(--primary);
    color: white;
}

.updateTxt
{
    color: grey;
}

.Resources
{
    text-align: left;
}

.horizontalLine
{
    margin: 90px 0 0 0;
    height: 2px;
    background-color: rgb(180, 174, 174);
}

.copyrightsection{
  text-align: center;
  margin-top: 40px;
}